section.advantages#advantages
  .advantages__bg
    img(src="@img/advantages/bg.png" alt="team")
  .advantages__container
    .advantages__items
      .advantages__item
        .advantages__icon
          include icons/_photos-icon
        .advantages__text Снимки
          br
          | на флешках

      .advantages__item.advantages__item--white
        .advantages__icon
          include icons/_manager-icon
        .advantages__text Персональный
          br
          | менеджер

      .advantages__item
        .advantages__icon
          include icons/_guarantee-icon
        .advantages__text Гарантия 5 лет, срок
          br
          | службы — намного дольше 