if casePage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                .breadcrumbs__link Лечение на элайнерах

else if servicePage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item
                a(href="./services.html").breadcrumbs__link Услуги
            li.breadcrumbs__item 
                .breadcrumbs__link Стоматологический туризм

else if service2Page == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item
                a(href="./services.html").breadcrumbs__link Услуги
            li.breadcrumbs__item 
                .breadcrumbs__link Виниры

else if campaignPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item
                a(href="./campaignes.html").breadcrumbs__link Акции
            li.breadcrumbs__item 
                .breadcrumbs__link Супер акция для вашей белоснежной улыбки

else

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item
                a(href="./campaignes.html").breadcrumbs__link Акции
            li.breadcrumbs__item 
                .breadcrumbs__link Название акции