if casePage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                .breadcrumbs__link Лечение на элайнерах

//- else if cartPage == true

//-     .breadcrumbs.catalog__breadcrumbs
//-         ul.breadcrumbs__list
//-             li.breadcrumbs__item 
//-                 a(href="/").breadcrumbs__link Главная
//-             li.breadcrumbs__item 
//-                 .breadcrumbs__link Корзина 