footer#footer.footer
	.footer__container
		.footer__main
			.footer__logo
				img(src="@img/logo-white.png" alt="Два дантиста")
			.footer__content
				.footer__left
					.footer__info
						h3.footer__title Остались вопросы?<br>Не нашли нужную информацию?
						p.footer__text Свяжитесь с нами, и мы ответим<br>на ваш вопрос в течение 20 минут.
						button.button.button--dark.footer__button(href="#") 
							span Написать нам

					.footer__contacts
						.footer__contacts-top
							h4.footer__subtitle Свяжитесь с нами
							.footer__schedule пн – вс: 8:00 - 22:00
							a.footer__phone(href="tel:+78126146769") +7 (812) 614-67-69
							a.footer__phone(href="tel:+79310023317") +7 (931) 002-33-17
							a.footer__email(href="mailto:dwadantista@yandex.ru") dwadantista@yandex.ru
						.footer__contacts-bottom
							address.footer__address г. Санкт-Петербург, Московский проспект, 183/185 лит Б.
							.footer__special(href="#") Версия для слабовидящих

				.footer__right
					nav.footer__nav
						.footer__column
							h4.footer__nav-title 
								a(href="/prices.html") Цены
							ul.footer__list
								li: a(href="#") Улыбки пациентов
								li: a(href="#") Анкета пациента
								li: a(href="#") Онлайн оплата
								li: a(href="#") Документы

						.footer__column
							h4.footer__nav-title 
								a(href="/about.html") О клинике
							ul.footer__list
								li: a(href="/1") О нас
								li: a(href="/2") Врачи
								li: a(href="#") Отзывы
								li: a(href="#") Сертификаты
								li: a(href="#") Статьи
								li: a(href="#") Контакты
								li: a(href="#") Вакансии
								li: a(href="#") Новости

						.footer__column
							h4.footer__nav-title 
								a(href="/services.html") Услуги
							ul.footer__list
								li: a(href="#") Цифровая стоматология
								li: a(href="#") Стоматологический check-up
								li: a(href="#") Имплантация зубов
								li: a(href="#") Брекеты
								li: a(href="#") Элайнеры
								li: a(href="#") Детская ортодонтия
								li: a(href="#") Отбеливание зубов AMAZING WHITE
								li: a(href="#") Съемной протезирование
								li: a(href="#") Виниры
								li: a(href="#") Лечение кариеса зубов
								li: a(href="#") Удаление зубов
								li: a(href="#") Профессиональная гигиена
			