head 
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	link(rel="icon", href="favicon.ico")
	link(rel="icon", type="image/png", sizes="32x32", href="img/favicon.png")
	meta(property="og:title", content="Стоматология Два Дантиста")
	meta(property="og:site_name", content="https://paymushkin.github.io/2dentists/dist/")
	meta(property="og:url", content="https://paymushkin.github.io/2dentists/dist/")
	meta(property="og:description", content="Премиум-стоматология в Санкт-Петербурге")
	meta(property="og:image", content="https://paymushkin.github.io/2dentists/dist/img/poster.png")
	meta(property="og:image:width", content="968")
	meta(property="og:image:height", content="504")
	//- link(rel="preload" as="image" href="@img/landing/hero-poster-1.webp")
	//- link(rel="preload" as="image" href="@img/landing/hero-poster-2.webp")
	//- link(rel="preload" as="image" href="@img/landing/hero-poster-3.webp")
	//- link(rel="preload" as="image" href="@img/landing/hero-poster-1-mob.webp")
	//- link(rel="preload" as="image" href="@img/landing/hero-poster-2-mob.webp")
	//- link(rel="preload" as="image" href="@img/landing/hero-poster-3-mob.webp")
	title Два дантиста
	link(rel="stylesheet", href="css/style.min.css")
	meta(name="description", content="Премиум-стоматология в Санкт-Петербурге")
	meta(name="keywords", content="стоматология, лечение зубов, брекеты, виниры")
	meta(name="author", content="Ваше имя или название компании")
	meta(name="twitter:card", content="summary_large_image")
	meta(name="twitter:title", content="Стоматология Два Дантиста")
	meta(name="twitter:description", content="Премиум-стоматология в Санкт-Петербурге")
	meta(name="twitter:image", content="path/to/image.jpg")