section.hero#hero
    .hero__container
        .hero__content
            h1.hero__title 
                | Помогаем своим<br>
                | пациентам обрести<br>
                | здоровые и красивые зубы
            p.hero__text Наша миссия — повышать качество жизни людей, и этим пропитано все: наш подход при планировании лечения, комфорт проводимых услуг, сервис внутри клиники и после проведенных процедур.
            .hero__buttons
                button.button.hero__button(type="button", data-popup="appointment-request")
                    span Записаться на прием
                button.button.button__transparent.hero__button-callback(type="button" data-popup="appointment-request")
                    span Обратный звонок
        
        .hero__examples.hero__examples-main
            img.hero__examples-image(src="@img/hero/avatars.png" width="132" height="42" alt="Примеры работ")
            .hero__examples-content
                h2.hero__examples-title Примеры<br>работ
                button.button.button--small.hero__examples-button(type="button")
                    span Смотреть