section.interests
	.interests__container
		form(action="#", method="") 
			.interests__left
				h3.interests__title Расскажите нам, что вам нравится
				.interests__btns
					input#cb-1(type="checkbox", name="cb-1", checked).interests__bnt
					label(for="cb-1") Оверсайз
					input#cb-2(type="checkbox", name="cb-2", checked).interests__bnt
					label(for="cb-2") Скинни
					input#cb-3(type="checkbox", name="cb-3", checked).interests__bnt
					label(for="cb-3") Новинки
					input#cb-4(type="checkbox", name="cb-4").interests__bnt
					label(for="cb-4") Минимализм
					input#cb-5(type="checkbox", name="cb-5").interests__bnt
					label(for="cb-5") Яркие принты
					input#cb-6(type="checkbox", name="cb-6").interests__bnt
					label(for="cb-6") Деним
					input#cb-7(type="checkbox", name="cb-7", checked).interests__bnt
					label(for="cb-7") Натуральные материалы
					input#cb-8(type="checkbox", name="cb-8", checked).interests__bnt
					label(for="cb-8") Кожа
					input#cb-9(type="checkbox", name="cb-9", checked).interests__bnt
					label(for="cb-9") Анималистичные принты
					input#cb-10(type="checkbox", name="cb-10").interests__bnt
					label(for="cb-10") Мини
			.interests__right
				.interests__text Расскажите нам, что вам интересно, и мы подберем товары, которые вам понравятся, и будем оповещать о новинках.
				button(type="submit").button.button-small Запомнить >