.mobile-menu(
    role="dialog" 
    aria-modal="true" 
    aria-label="Навигация по сайту"
)
    .mobile-menu__body
        nav.mobile-menu__nav(aria-label="Основное меню")
            ul.mobile-menu__list(role="menu")
                li.mobile-menu__item(role="menuitem")
                    button(type="button" aria-expanded="false").mobile-menu__button 
                        span Услуги
                        include icons/_chevron-down
                    ul.mobile-menu__sub-list
                        li
                            a(href="#")
                                include icons/_circle
                                span Цифровая стоматология
                        li
                            a(href="#")
                                include icons/_circle
                                span Внутриротовое сканирование зубов
                        li
                            a(href="#")
                                include icons/_circle
                                span Цифровая стоматология
                        li
                            a(href="#")
                                include icons/_circle
                                span Внутриротовое сканирование зубов

                li.mobile-menu__item
                    button(type="button" aria-expanded="false").mobile-menu__button
                        span Цены
                        include icons/_chevron-down
                    ul.mobile-menu__sub-list
                        li
                            a(href="#")
                                include icons/_circle
                                span Цифровая стоматология
                        li
                            a(href="#")
                                include icons/_circle
                                span Внутриротовое сканирование зубов
                        li
                            a(href="#")
                                include icons/_circle
                                span Цифровая стоматология
                        li
                            a(href="#")
                                include icons/_circle
                                span Внутриротовое сканирование зубов

                li.mobile-menu__item
                    a(href="#").mobile-menu__link Акции

                li.mobile-menu__item
                    button(type="button" aria-expanded="false").mobile-menu__button
                        span Врачи
                        include icons/_chevron-down
                    ul.mobile-menu__sub-list
                        li
                            a(href="#")
                                include icons/_circle
                                span Цифровая стоматология   
                        li
                            a(href="#")
                                include icons/_circle
                                span Внутриротовое сканирование зубов
                        li
                            a(href="#")
                                include icons/_circle
                                span Цифровая стоматология
                        li
                            a(href="#")
                                include icons/_circle
                                span Внутриротовое сканирование зубов

                li.mobile-menu__item
                    a(href="#").mobile-menu__link Наши работы

                li.mobile-menu__item
                    a(href="#").mobile-menu__link Отзывы

                li.mobile-menu__item
                    button(type="button" aria-expanded="false").mobile-menu__button
                        span О нас
                        include icons/_chevron-down

                li.mobile-menu__item
                    button(type="button" aria-expanded="false").mobile-menu__button
                        span Контакты
                        include icons/_chevron-down

        .mobile-menu__contacts
            a(href="tel:+78123175847").mobile-menu__phone
                include icons/_phone
                span +7 (812) 317-58-47
            a(href="tel:+79130020317").mobile-menu__phone
                include icons/_phone
                span +7 (913) 002-03-17 