section.offer
    .offer__container
        .offer__inner
            .offer__slider.swiper
                .offer__wrapper.swiper-wrapper
                
                    .offer__slide.swiper-slide
                        .offer-slide
                            .offer-slide__content
                                .offer-slide__date до 31 декабря 2024 года
                                h2.offer-slide__title
                                    span Супер акция 
                                    | для вашей белоснежной улыбки
                                p.offer-slide__text
                                    | Надо какое-то описание акции, потому что на
                                    br
                                    | данный момент ничего непонятно, 
                                    | описания на старом сайте нет.
                                a.button.offer-slide__link(href="#")
                                    span Получить акцию
                            .offer-slide__image
                                img(src="@img/offer/item-1.png" alt="offer")
                    
                    .offer__slide.swiper-slide
                        .offer-slide
                            .offer-slide__content
                                .offer-slide__date до 31 декабря 2024 года
                                h2.offer-slide__title
                                    span Супер акция 2 
                                    | для вашей белоснежной улыбки
                                p.offer-slide__text
                                    | Надо какое-то описание акции, потому что на
                                    br
                                    | данный момент ничего непонятно, 
                                    |описания на старом сайте нет.
                                a.button.offer-slide__link(href="#")
                                    span Получить акцию
                            .offer-slide__image
                                img(src="@img/offer/item-1.png" alt="offer")

                    .offer__slide.swiper-slide
                        .offer-slide
                            .offer-slide__content
                                .offer-slide__date до 31 декабря 2024 года
                                h2.offer-slide__title
                                    span Супер акция 3 
                                    | для вашей белоснежной улыбки
                                    | для вашей белоснежной улыбки
                                    | для вашей белоснежной улыбки
                                    | для вашей белоснежной улыбки
                                p.offer-slide__text
                                    | Надо какое-то описание акции, потому что на
                                    br
                                    | данный момент ничего непонятно,
                                    | описания на старом сайте нет.
                                    | описания на старом сайте нет.
                                    | описания на старом сайте нет.
                                    | описания на старом сайте нет.
                                a.button.offer-slide__link(href="#")
                                    span Получить акцию
                            .offer-slide__image
                                img(src="@img/offer/item-1.png" alt="offer")  

            .offer__navigation.swiper-navigation
                .prev
                    include icons/_prev-icon
                .next
                    include icons/_next-icon
