.paggination
	ul.paggination__list 
		li.paggination__item.active 1
		li.paggination__item 2
		li.paggination__item 3
		li.paggination__item &bull; &bull; &bull;
		li.paggination__item 10
		li.paggination__item 11