section.reviews#reviews
    .reviews__container
        h2.reviews__title Отзывы наших клиентов
        .reviews__widget
            .reviews__frame(style="display: flex; justify-content: center; margin-top: 20px; border-radius: 20px;")
                iframe#myReviews__block-widget(style="width: 100%; height: 100%; border: none; outline: none; padding: 0; margin: 0")
    
    