section.seo-content
    .seo-content__container
        //- Верхний блок с заголовком и двумя колонками текста
        .seo-content__block
            .seo-content__columns.seo-content__columns--2
                .seo-content__column
                    h2 Текстовый блок Текстовый блок Текстовый блок Текстовый блок
                .seo-content__column
                    p Являясь всего лишь частью общей картины, тщательные исследования конкурентов призывают нас к новым свершениям, которые, в свою очередь, должны быть подвергнуты целой серии независимых исследований. Как уже неоднократно упомянуто, предприниматели в сети интернет своевременно верифицированы. Противоположная точка зрения подразумевает, что сделанные на базе интернет-аналитики выводы преданы социально-демократической анафеме.
                    p Являясь всего лишь частью общей картины, тщательные исследования конкурентов призывают нас к новым свершениям, которые, в свою очередь, должны быть подвергнуты целой серии независимых исследований. Как уже неоднократно упомянуто, предприниматели в сети интернет своевременно верифицированы. Противоположная точка зрения подразумевает, что сделанные на базе интернет-аналитики выводы преданы социально-демократической анафеме.

            //- Блок с изображениями
            .seo-content__columns.seo-content__columns--2
                img(src="@img/seo/item-1.png" alt="Доктор" )
                img(src="@img/seo/item-2.png" alt="Оборудование")

        .seo-content__block
            
            .seo-content__columns
                h2 Текстовый блок Текстовый блок Текстовый блок Текстовый блок
                p Являясь всего лишь частью общей картины, тщательные исследования конкурентов призывают нас к новым свершениям, которые, в свою очередь, должны быть подвергнуты целой серии независимых исследований. Как уже неоднократно упомянуто, предприниматели в сети интернет своевременно верифицированы. Противоположная точка зрения подразумевает, что сделанные на базе интернет-аналитики выводы преданы социально-демократической анафеме.
                p Являясь всего лишь частью общей картины, тщательные исследования конкурентов призывают нас к новым свершениям, которые, в свою очередь, должны быть подвергнуты целой серии независимых исследований. Как уже неоднократно упомянуто, предприниматели в сети интернет своевременно верифицированы. Противоположная точка зрения подразумевает, что сделанные на базе интернет-аналитики выводы преданы социально-демократической анафеме.

            //- Блок с изображениями
            .seo-content__columns.seo-content__columns--2
                img(src="@img/seo/item-1.png" alt="Доктор" )
                img(src="@img/seo/item-2.png" alt="Оборудование")