section.video#video-block
  .video__container
    .video__content
      .video__icon 
        img(src="@img/icons/play-icon.svg" loading="lazy" alt="Воспроизвести видео" data-popup="video-popup")
      h2.video__title Посмотрите видео о нашей клинике

  .video__wrapper
    .video__video
      video.video__bg(
        autoplay 
        muted 
        loop 
        playsinline 
        webkit-playsinline
        loading="lazy"
        preload="none"
        poster="@img/video/poster.webp"
      )
        source(src="https://storage.yandexcloud.net/videos-meyou/2dentists/bg-video.a.mp4" type="video/mp4")
      button.video__play(type="button" aria-label="Воспроизвести видео" data-popup="video-popup")
        include icons/_play-icon
    
    .video__items(data-da=".video__container ,767.98")
      .video__item.video__item--1
        .video__icon
          include icons/_tooth-icon
        .video__text
          b ТОП-10 лучших 
          | стоматологий Санкт-Петербурга / Доктор Питер
      .video__item.video__item--2
        .video__icon
          include icons/_medal-icon
        .video__text
          b ТОП-20 частных
          br 
          | стоматологий Санкт-Петербурга / ПроДокторов / 32top.ru
      .video__item.video__item--3
        .video__icon
          include icons/_medal-icon
        .video__text
            b ТОП-100
            br
            | стоматологических клиник России / 32top.ru
      .video__item.video__item--4
        .video__icon
          include icons/_awards-icon
        .video__text 
            | Лауреат Национального конкурса 
            b «Лучшие стоматологии РФ»