.case-steps {

    &__title {
        margin-bottom: 20px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;

        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }

        @media (max-width: $mobileSmall) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        background-color: $bgColorBlueLight;
        border-radius: 20px;

        &-header {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 5px;
            padding: 20px;

            @media (max-width: $tablet) {
                margin-bottom: 10px;
                padding: 15px;
            }

            @media (max-width: $mobileSmall) {
                margin-bottom: 0px;
            }

            &-top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                margin-bottom: 20px;
                width: 100%;

                svg {
                    display: flex;
                }
            }
        }

        &-number {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            background: $highlightColor;
            border-radius: 50%;
            color: #ffffff;
        }

        &-title {
            margin-bottom: 10px;
            font-size: 32px;
            font-weight: 500;

            @media (max-width: $mobileSmall) {
                font-size: 20px;
            }
        }

        &-text {
            font-size: 18px;
            line-height: 1.5;
            transition-behavior: allow-discrete;

            .active-item & {
                    display: flex;
                }
            
                @media (max-width: $mobileSmall) {
                    // display: none;
                    font-size: 14px;
                }

            @media (max-width: $tablet) {
                font-size: 16px;
            }

            @media (min-width: $mobileSmall) {
                height: auto!important;
            }
        }

        &-image {
            border-radius: 10px;
            overflow: hidden;

            @media (max-width: $mobileSmall) {
                max-height: 158px;
            }
            
            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        &-icon {
            display: none;

            .active-item & {
                rotate: 180deg;
            }

            @media (max-width: $mobileSmall) {
                display: block;
                margin-left: auto;
            }
        }
    }
}
