section.about-clinic#about-clinic
    .about-clinic__container
        .block-text-image
            .block-text-image__content
                .block-text-image__image
                    img(src="@img/campaign/about-1.png" alt="О клинике")
                .block-text-image__text.block-text-image__text-highlight
                    h2.block-text-image__title.mb-small О клинике
                    .block-text-image__paragraph._content-start
                        p 
                            | Мы открыли клинику "Два Дантиста" в 2020 году и с тех пор ежедневно помогаем
                            | своим пациентам обрести здоровые и красивые зубы. Как практикующие
                            | специалисты, мы понимаем что необходимо организовать в клинике, поэтому
                            | оборудуем е е по последним тенденциям стоматологии, чтобы идти в ногу с о
                            | временем. Наша миссия - повышать качество жизни людей, и этим пропитано все:
                            | наш подход при планировании лечения, комфорт проводимых услуг, сервис внутри
                            | клиники и после проведенных процедур. Как доктора, мы отвечаем з а каждую работу и полностью погружаемся во все клинические случаи наших пациентов.
                    a(href="").button.block-text-image__button
                        span Подробнее