section.about-offer
    .about-offer__container
        h2.about-offer__title
            | Профгигиена проводится 
            span.about-offer__title-accent по швейцарскому протоколу GUIDED BIOFILM THERAPY
            |  с использованием современной порошковой системы AIRFLOW

        .about-offer__content
            .about-offer__info
                p.about-offer__text GUIDED BIOFILM THERAPY — это методичное, предсказуемое решение для управления зубной биоплёнкой в профессиональной профилактике с использованием современных технологий AIRFLOW®, PERIOFLOW® и PIEZON®. Данное решение подтверждено научными исследованиями.
                p.about__text Биопленка является основным этиологическим фактором развития кариеса, пародонтальных и периимплантатных инфекций. Пародонтит может увеличить риск развития системных заболеваний таких, как, сердечно-сосудистые заболевания и заболевания органов дыхательной системы, артрит или сахарный диабет.

            .about-offer__additional
                p.about-offer__text Jotporaer emosepanoent +yGoe Bronnene, nienrdno n ayomor wonteme. 087 использует инновационные технологии и характеризуется щадящим воздействием на поверхности зубов и десен.
                a.about-offer__button(href="#") Записаться по акции
