section.before-after#before-after
    .before-after__container
        h2.case-result__title До/после
        .case-result__content
            .case-result__compare.slider-compare
                img.slider-compare__img.slider-compare__img--before(src='@img/case/result-big-1.png' alt='До')
                img.slider-compare__img.slider-compare__img--after(src='@img/case/result-big-2.png' alt='После')
                input#slider-range-1.slider-compare__range-js(type='range' min='0' max='100' value='50' step='1')
                label.visually-hidden(for='slider-range-1')
                .slider__range-visible

            .case-result__gallery
                .case-result__gallery-item
                    .slider-compare.slider-compare--mini
                        img.slider-compare__img.slider-compare__img--before(src='@img/campaign/result-mini-1.png' alt='До')
                        img.slider-compare__img.slider-compare__img--after(src='@img/campaign/result-mini-2.png' alt='После')
                        input#slider-range-2.slider-compare__range-js(type='range' min='0' max='100' value='50' step='1')
                        label.visually-hidden(for='slider-range-2')
                        .slider__range-visible
                .case-result__gallery-item
                    .slider-compare.slider-compare--mini
                        img.slider-compare__img.slider-compare__img--before(src='@img/campaign/result-mini-1.png' alt='До')
                        img.slider-compare__img.slider-compare__img--after(src='@img/campaign/result-mini-2.png' alt='После')
                        input#slider-range-3.slider-compare__range-js(type='range' min='0' max='100' value='50' step='1')
                        label.visually-hidden(for='slider-range-3')
                        .slider__range-visible
                .case-result__gallery-item
                    .slider-compare.slider-compare--mini
                        img.slider-compare__img.slider-compare__img--before(src='@img/campaign/result-mini-1.png' alt='До')
                        img.slider-compare__img.slider-compare__img--after(src='@img/campaign/result-mini-2.png' alt='После')
                        input#slider-range-4.slider-compare__range-js(type='range' min='0' max='100' value='50' step='1')
                        label.visually-hidden(for='slider-range-4')
                        .slider__range-visible
                .case-result__gallery-item
                    .slider-compare.slider-compare--mini
                        img.slider-compare__img.slider-compare__img--before(src='@img/campaign/result-mini-1.png' alt='До')
                        img.slider-compare__img.slider-compare__img--after(src='@img/campaign/result-mini-2.png' alt='После')
                        input#slider-range-5.slider-compare__range-js(type='range' min='0' max='100' value='50' step='1')
                        label.visually-hidden(for='slider-range-5')
                        .slider__range-visible