section.campaign-hero#campaign-hero
    .campaign-hero__container
        .campaign-hero__body
            .campaign-hero__content
                h1.campaign-hero__title 
                    | Супер акция для вашей белоснежной улыбки