section.select-offer
    .select-offer__container
        h2.select-offer__title Выберите свое<br>предложение

        .select-offer__grid
            .select-offer__card
                .select-offer__image
                    img(src="@img/campaign/select-offer-1.png" alt="Белоснежная улыбка" loading="lazy")
                h3.select-offer__card-title Белоснежная улыбка
                ul.select-offer__list
                    li.select-offer__item
                        include ../icons/_tooth-icon
                        span Профессиональная гигиена полости рта
                    li.select-offer__item
                        include ../icons/_tooth-icon
                        span Клиническое отбеливание AMAZING WHITE
                .select-offer__price 29 500₽
                a.button.select-offer__button(href="#")
                    span Записаться 

            .select-offer__card.select-offer__card--max
                .select-offer__image
                    img(src="@img/campaign/select-offer-1.png" alt="Белоснежная улыбка MAX" loading="lazy")
                h3.select-offer__card-title Белоснежная улыбка MAX
                ul.select-offer__list
                    li.select-offer__item
                        include ../icons/_tooth-icon
                        span Профессиональная гигиена полости рта
                    li.select-offer__item
                        include ../icons/_tooth-icon
                        span Клиническое отбеливание AMAZING WHITE
                    li.select-offer__item
                        include ../icons/_tooth-icon
                        span Отбеливание домашнее (изготовление капп и гель opalescence)
                .select-offer__price 49 500₽
                a.button.select-offer__button(href="#")
                    span Записаться 