section.why-us#why-us
    .why-us__container
        h2.why-us__title Почему наша<br>клиника?
        .why-us__content
            -
                const whyUsItems = [
                    {
                        icon: 'why-icon-1.png',
                        title: 'Гарантии',
                        text: 'Гарантия на работу врача до 1 года'
                    },
                    {
                        icon: 'why-icon-2.png',
                        title: 'Качественные системы',
                        text: 'Работаем только с лучшими и проверенными производителями'
                    },
                    {
                        icon: 'why-icon-3.png',
                        title: 'Европейское оборудование',
                        text: 'Используем передовое стоматологическое оборудование'
                    },
                    {
                        icon: 'why-icon-4.png',
                        title: 'Тщательная диагностика',
                        text: 'Применение цифровых технологий для анализа строения скелета черепа и челюстей.'
                    },
                    {
                        icon: 'why-icon-5.png',
                        title: 'Сервис',
                        text: 'Всегда на связи с пациентами, решение любых возникших вопросов в течении суток.'
                    },
                    {},
                    {},
                    {
                        icon: 'why-icon-6.png',
                        title: 'Безопасность',
                        text: 'Стерильность, использование одноразовых инструментов.'
                    },
                    {
                        icon: 'why-icon-7.png',
                        title: 'Специалисты',
                        text: 'Врачи с огромным опытом помогли более 1000 пациентам вернуть здоровую улыбку.'
                    }
                ]

            .why-us__grid
                each item, index in whyUsItems
                    if index === 5
                        .why-us__image
                            picture
                                source(media="(max-width: 576px)" srcset="@img/service/why-1-mobile.png")
                                source(media="(max-width: 1024px)" srcset="@img/service/why-1-tablet.png")
                                img(src="@img/service/why-1.png" alt="Наша клиника" loading="lazy")

                    else if index === 6
                        .why-us__image
                            picture
                                source(media="(max-width: 576px)" srcset="@img/service/why-1-mobile.png")
                                source(media="(max-width: 1024px)" srcset="@img/service/why-1-tablet.png")
                                img(src="@img/service/why-1.png" alt="Наша клиника" loading="lazy")

                    else
                        .why-us__item
                            .why-us__icon
                                img(src=`@img/campaign/${item.icon}` alt=item.title)
                            h3.why-us__subtitle= item.title
                            p.why-us__text= item.text
