<svg xmlns="http://www.w3.org/2000/svg" width="22" height="26" viewBox="0 0 22 26" fill="none">
    <path d="M4.0625 22L16.0625 13L4.0625 4" stroke="#06AEEF" stroke-width="7" fill="transparent" stroke-linecap="round"/>
</svg>