<svg xmlns="http://www.w3.org/2000/svg" width="43" height="43" viewBox="0 0 43 43" fill="none">
    <circle cx="21.5" cy="21.5" r="21.5" fill="#c0e3f6"/>
    <path d="M28 15L15 28M15 15L28 28" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>