<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="15" cy="15" r="14.5" fill="#ffffff" stroke="#06AEEF"/>
    <path d="M13.1289 19.25L16.7771 14.4617L13.1289 9.67344" stroke="#06AEEF" stroke-linecap="round"/>
</svg>

