<svg xmlns="http://www.w3.org/2000/svg" width="23" height="5" viewBox="0 0 23 5" fill="none">
    <rect x="0.5" y="0.5" width="4" height="4" rx="2" fill="#06AEEF" stroke="#06AEEF"/>
    <rect x="9.5" y="0.5" width="4" height="4" rx="2" fill="#06AEEF" stroke="#06AEEF"/>
    <rect x="18.5" y="0.5" width="4" height="4" rx="2" fill="#06AEEF" stroke="#06AEEF"/>
</svg>