.swiper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.swiper-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
	position: relative;
}

.swiper-vertical {
	.swiper-wrapper {
		flex-direction: column;
	}
}

.swiper-autoheight {
	.swiper-wrapper {
		align-items: flex-start;
	}
}

.swiper-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}

.swiper-android {

	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}

.swiper-button-lock {
	display: none !important;
}

.navigation {

	@media (max-width:$tablet) {
		display: none;
	}

	img,
	svg {
		cursor: pointer;
	}

	.swiper-button-disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	svg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition: 0.3s ease transform;
		transform-origin: center;

		@media (any-hover: hover) {
			&:hover {
				transform: translateY(-50%) scale(1.25);
			}
		}

	}

	.prev {
		left: rem(33);
		transform: translateY(-50%) rotate(-180deg);

		@media (max-width:$mobile) {
			left: rem(10);
		}

		@media (any-hover: hover) {
			&:hover {
				transform: translateY(-50%) scale(1.25) rotate(-180deg);
			}
		}
	}

	.next {
		right: rem(33);

		@media (max-width:$mobile) {
			right: rem(10);
		}
	}
}

.swiper-pagination {
	position: absolute;
	left: 50%;
	display: flex;
	gap: 10px;
	cursor: pointer;
	transform: translateX(-50%);

	&-bullet {
		position: relative;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background: #DCE4EA;
		transition: 0.3s ease background;

		&-active {
			background: linear-gradient(124deg, #00A0DB 10.09%, #86D06C 105.92%);
		}
	}

	.swiper-pagination-total {
		color: #585858;
	}
}