.swiper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.swiper-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
	position: relative;
}

.swiper-vertical {
	.swiper-wrapper {
		flex-direction: column;
	}
}

.swiper-autoheight {
	.swiper-wrapper {
		align-items: flex-start;
	}
}

.swiper-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}

.swiper-android {

	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}

.swiper-button-lock {
	display: none !important;
}

.swiper-pagination {
	display: flex;
	justify-content: center;
	gap: 4px;

	.swiper-pagination-bullet {
		width: 8px;
		height: 8px;
		background: $darkColor;
		border-radius: 50%;
		transition: all 0.3s;
		cursor: pointer;

		&-active {
			background: $highlightColor;
		}
	}
}

.swiper-navigation {
	display: flex;
	justify-content: center;
	gap: 10px;
	width: 100%;

	@media (max-width: $mobileSmall) {
		position: absolute;
		bottom: -50px;
		margin: 0 auto;
	}

	.prev,
	.next {
		display: flex;
		transform-origin: center;
		cursor: pointer;

		@media (min-width: $mobileSmall) {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		svg {
			transition: all 0.3s;

			@media (min-width: $mobileSmall) {
				width: 42px;
				height: 42px;
			}

			// circle {
			// 	@media (min-width: $mobileSmall) {
			// 		stroke: transparent;
			// 	}
			// }
		}

		&:hover {
			svg circle {
				fill: $highlightColor;
			}

			svg path {
				stroke: #fff;
			}
		}
	}

	.prev {
		@media (min-width: $mobileSmall) {
			left: -20px;
			translateY: -50%;
		}
	}

	.next {
		@media (min-width: $mobileSmall) {
			right: -20px;
		}
	}
}