li.diploma__item
    .diploma__item-icon
        img(src="@img/logo-mini.png" loading="lazy" alt="Лого")
    h3.diploma__item-title 
        b= item.title
        span= item.subtitle
    img.diploma__item-image(src=`@img/diplomas/${item.image}` width="300" height="400" loading="lazy" alt="Диплом") 