li.diploma__item
    .diploma__item-icon
        img(src="@img/icons/logo-mini.svg" alt="Лого")
    h4.diploma__item-title 
        b= item.title
        span= item.subtitle
    img.diploma__item-image(src=`@img/diplomas/${item.image}` alt="Диплом") 