<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.scrollbar-hover
		.wrapper.wrapper__container
			include html/_header
			main.main-content
				section.about-hero
					.about-hero__body 
						h1 
							| Crosbee работает в&nbsp;сфере
							| детских развлечений с&nbsp;1997&nbsp;года, а&nbsp;с&nbsp;1999&nbsp;года производит 
							| линейку малых архитектурных форм. 
							| Производственные мощности компании расположены 
							| в&nbsp;Российской Федерации и&nbsp;КНР. 


						//- h1 
						//- 	| Этапы выполнения вашего заказа
						//- p 
						//- 	| Если Вам&nbsp;необходимо посчитать стоимость заказа, 
						//- 	| проверить возможность установки оборудования в&nbsp;соответствии 
						//- 	| с&nbsp;требованиями безопасности или&nbsp;получить визуальное решение Вашей&nbsp;игровой (спортивной) площадки, 
						//- 	| нам&nbsp;потребуется от&nbsp;Вас&nbsp;небольшое техническое задание.
						.about-hero__img

					.about-hero__text
						p
							| Продукция нашей марки представляет симбиоз проверенного 
							| климатом качества, оригинальных дизайнерских решений
							| и&nbsp;оптимальных ценовых предложений.

						p 
							| Собственное конструкторское бюро
							| и&nbsp;производственные мощности позволяет воплотить
							| в&nbsp;реальность самые сложные и&nbsp;необычные запросы наших заказчиков.
							
						p 
							| Компания работает с&nbsp;лучшими дизайнерскими 
							| и&nbsp;ландшафтными бюро. Разнообразие цветовой гаммы нашей линейки, 
							| большой ассортимент декоративных элементов позволяет быть уверенными, 
							| что&nbsp;каждый заказчик найдет в&nbsp;каталоге компании интересное решение.
							
						p 
							| Монтажное подразделение компании 
							| не&nbsp;только качественно осуществляет монтаж оборудования, 
							| но&nbsp;и&nbsp;знает важность сроков сдачи объектов и&nbsp;умеет их&nbsp;соблюдать.

				section.about-points
					h2.about-points__title Наши преимущества
					ul.about-points__list
						li.about-points__item.item-points
							span.item-points__count._small 01
							.animation__wrapper
								h3.item-points__title Всегда соблюдаем заявленные сроки
								.item-points__text
									p
										| Мы знаем как важны сроки именно в&nbsp;нашей сфере для&nbsp;наших Заказчиков. 
									p
										| Мы не&nbsp;только знаем, но&nbsp;умеем их&nbsp;соблюдать и&nbsp;решать проблемы, которые могут помешать выполнению в&nbsp;заданное время. 
									p
										| На&nbsp;нас можно положиться при&nbsp;соблюдении сроков контракта.

						li.about-points__item.item-points
							span.item-points__count._small 02
							.animation__wrapper
								h3.item-points__title Обеспечиваем безопасность
								.item-points__text
									p
										| Вся наша продукция имеет обязательную сертификацию по&nbsp;техническому 
										| регламенту Евразийского экономического союза ТР&nbsp;ЕАЭС&nbsp;042/2017. 
									p
										| Регламент устанавливает требования к&nbsp;безопасности 
										| оборудования и&nbsp;(или)&nbsp;покрытия для&nbsp;детских игровых площадок и&nbsp;процессам
										| проектирования, производства, монтажа, эксплуатации, хранения, перевозки и&nbsp;утилизации.

						li.about-points__item.item-points
							span.item-points__count._small 03
							.animation__wrapper
								h3.item-points__title Гарантируем качество
								.item-points__text
									p
										| Технический регламент также контролирует качество производимой продукции. 
										| Наше производство ежегодно посещают технические инспекторы для&nbsp;проверки всех этапов производства.  
									p
										| Многолетний опыт наших технологов, конструкторов, работников цеха, большая библиотека уникальных 
										| и&nbsp;многократно проверенных узлов и&nbsp;конструкций гарантируют качество.
				section.about-description 
					.about-description__body
						h2 Дизайн-студия
						.about-description__text 
							p 
								| Конструкторский отдел нашей компании способен рассчитать и&nbsp;реализовать практически любой замысел заказчика. 
								| Мы используем наш опыт и&nbsp;ресурсы для&nbsp;оперативного расчета индивидуальных пожеланий, 
								| сделаем дизайн-макет и&nbsp;предложим решения для&nbsp;оптимизации стоимости нового проекта. 
								| Нам поступает большое количество запросов на&nbsp;особые и&nbsp;индивидуальные решения для&nbsp;игровых зон. 
								| В большинстве случаев мы&nbsp;находим оптимальное решение и&nbsp;помогаем претворить его&nbsp;в&nbsp;жизнь.

							p 
								| Последние годы дизайн-студия Crosbee создала ряд проектов, активно использующих ландшафт местности, 
								| эффективно задействовала естественные перепады высот, водные пространства и&nbsp;растительность. 
								| У&nbsp;нас&nbsp;большой опыт в&nbsp;применении традиционных и&nbsp;инновационных материалов, 
								| большая библиотека проверенных узловых устройств и&nbsp;механизмов, 
								| дает конструкторам широкую свободу действий. Мы&nbsp;готовы предложить большой ассортимент малых архитектурных форм, 
								| а&nbsp;также услуги по&nbsp;расчету и&nbsp;визуализации индивидуальных пожеланий заказчика.

					.about-description__img._design

					.about-description__body
						h2 Монтаж
						.about-description__text 
							p 
								| Последняя стадия производства детского игрового комплекса – его&nbsp;установка на&nbsp;месте у&nbsp;заказчика. 
								| От&nbsp;того, насколько качественно она&nbsp;будет сделана, зависит безопасность посетителей, 
								| а&nbsp;также срок эксплуатации комплекса. Наша компания предлагает услуги квалифицированного монтажа детского игрового оборудования 
								| и&nbsp;паркового оборудования. 

							p 
								| Профессионалы знают точно параметры и&nbsp;требования к&nbsp;малым архитектурным формам. 
								| При&nbsp;монтаже важно учесть множество деталей, таких&nbsp;как: удобное расположение детских игровых 
								| и&nbsp;спортивных площадок для&nbsp;наблюдения родителями, возраст детей, которые будут играть на&nbsp;этой&nbsp;площадке,
								| основание, на&nbsp;чем&nbsp;будет производиться установка, окружающие зеленые насаждения.

					.about-description__body
						h2 Шеф-монтаж
						.about-description__text 
							p 
								| Даже опытная строительная бригада будет испытывать затруднения при&nbsp;сборке такого специфичного оборудования, 
								| как&nbsp;детский игровой комплекс. В&nbsp;случае, если&nbsp;заказчик рассчитывает на&nbsp;собственные силы, но&nbsp;остаются сомнения в&nbsp;квалификации, 
								| CrosBee предоставит услуги по&nbsp;шеф-монтажу. 
								| Опытный мастер компании проведет на&nbsp;монтажном участке обучение, 
								| а&nbsp;в&nbsp;ходе монтажа поможет ценным советом и&nbsp;проверит качество сборки. 

							p 
								| Также будут даны рекомендации по&nbsp;правильной эксплуатации и&nbsp;уходу, 
								| выполняя которые, заказчик продлит срок службы приобретенного оборудования и&nbsp;использует 
								| его&nbsp;возможности в&nbsp;полной мере, в&nbsp;течение многих лет.
					
					.about-description__img._assembly
					
					.about-description__body
						h2 Производство и склад
						.about-description__text 
							p 
								| Новые технические требования, последние тренды дизайна
								| обязывают современные производственные компании постоян но&nbsp;совершенствоваться и&nbsp;прогрессировать.
								
							p 
								| В&nbsp;наших продуктах мы&nbsp;используем как&nbsp;проверенные временем
								| материалы и&nbsp;конструкционные узлы, так&nbsp;и&nbsp;инновационные
								| технологии. Новинки позволяют внедрять в&nbsp;производство идеи,
								| ранее недоступные для&nbsp;воплощения или&nbsp;снимающие ограничения в&nbsp;технических и&nbsp;дизайнерских решениях.

							p 
								| В&nbsp;малых архитектурных формах мы&nbsp;используем широкий спектр
								| высококачественных материалов, среди которых преобладают:

							p
								| — гальванизированная сталь<br>
								| — полиэтилен низкого давления<br>
								| — HDPE (полиэтилен высокой плотности),<br>
								| — HPL (ламинат высокого давления)<br>
								| — нержавеющая сталь<br>
								| — резина различных спецификаций<br>
								| — композитные материалы<br>
								| — дерево<br>

							p 
								| Основой большинства конструкций являются гальванизированные трубы различного сечения (от&nbsp;32&nbsp;до&nbsp;114&nbsp;мм) с толщиной
								| стенок&nbsp;2,5&nbsp;мм. На&nbsp;металлические конструкции наносится лако красочный слой методом порошкового напыления. 
								| В&nbsp;наших по&nbsp;красочных камерах мы&nbsp;используем материалы мирового лидера ЛКП&nbsp;AkzoNobel.

					.about-description__img._production

		include html/_footer
		include html/_popup
		script(src="js/app.min.js")