<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		//- .loader#loader 
		//- 	.loader__icon
		//- 		<svg width="1717" height="1732" viewBox="0 0 1717 1732" fill="none" xmlns="http://www.w3.org/2000/svg">
		//- 			<path class="path-1" d="M836.699 1146.62C728.387 1334.27 596.229 1483.07 471.131 1572.32C344.034 1663 232.99 1686.65 160.079 1644.57C87.168 1602.48 52.1145 1494.49 67.0649 1339.08C81.7802 1186.12 144.528 997.252 252.841 809.606C361.154 621.96 493.312 473.161 618.41 383.909C745.507 293.231 856.551 269.571 929.462 311.657C1002.37 353.743 1037.43 461.732 1022.48 617.143C1007.76 770.11 945.012 958.974 836.699 1146.62Z" stroke="#2E6F6E" stroke-width="50"/>
		//- 			<path class="path-2" d="M880.841 1146.62C989.154 1334.27 1121.31 1483.07 1246.41 1572.32C1373.51 1663 1484.55 1686.65 1557.46 1644.57C1630.37 1602.48 1665.43 1494.49 1650.48 1339.08C1635.76 1186.12 1573.01 997.252 1464.7 809.606C1356.39 621.96 1224.23 473.161 1099.13 383.909C972.034 293.231 860.99 269.571 788.079 311.657C715.168 353.743 680.114 461.732 695.065 617.143C709.78 770.11 772.528 958.974 880.841 1146.62Z" stroke="#2E6F6E" stroke-width="50"/>
		//- 			<path class="path-3" d="M1352 1006C1352 771.94 1273.01 524.561 1169.07 335.699C1117.14 241.334 1059.52 162.59 1003.44 107.815C946.396 52.1046 894.883 25 855 25C815.203 25 764.338 52.0178 708.268 107.673C653.129 162.403 596.753 241.111 546.05 335.478C444.585 524.319 368 771.778 368 1006C368 1241.84 420.335 1417.44 506.589 1533.44C592.24 1648.62 712.703 1707 855 1707C997.388 1707 1120.46 1648.53 1208.61 1533.18C1297.27 1417.15 1352 1241.6 1352 1006Z" stroke="#2E6F6E" stroke-width="50"/>
		//- 		</svg>
		//- .scrollbar-hover
		.wrapper
			include html/_header
			include html/_mobile-menu
			main.main-content
				include html/_hero
				include html/_diploma
				include html/_offer
				include html/_services
				include html/_appointment
				+appointment('image-3.png', 'image-3-tablet.png', 'image-3-mobile.png',null, 0)
				include html/_video-stats
				include html/_personal
				include html/_gallery
				include html/_cases
				include html/_awards
				include html/_innovations
				include html/_advantages
				include html/_seo-content
				include html/_reviews
				include html/_emotions
				include html/_appointment
				+appointment('image-4.png', 'image-4-tablet.png', 'image-4-mobile.png', null, 0)
				include html/_news
				include html/_address

			include html/_footer
			include html/_cookie-banner
		include html/_popup
		//- script.
		//- 	window.onload = function() {
		//- 		document.getElementById('slider-placeholder').style.display = 'none'; // Скрыть изображение
		//- 		document.getElementById('slider').style.display = 'block'; // Показать слайдер
		//- 	};
		script(src="js/app.min.js")
		script(src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js")