<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.wrapper
			include html/_header
			include html/_mobile-menu
			main.main-content
				.case__container
					- const service2Page = true;
					include html/_breadcrumbs
				include html/service/_hero-2
				include html/service/_what
				include html/service/_advantages
				include html/service/_indications
				include html/service/_steps
				include html/service/_price
				include html/service/_seo-block
				include html/service/_why-us-2
				include html/service/_before-after

				include html/_appointment
				+appointment(
					'image-3.png', 
					'image-3-tablet.png', 
					'image-3-mobile.png',
					null,
					0,
				)

				include html/_personal
				include html/_reviews
				include html/_diploma
				include html/_emotions
				include html/service/_questions

				include html/_appointment
				+appointment(
					'image-4.png', 
					'image-4-tablet.png', 
					'image-4-mobile.png',
					null,
					0,
				)
				include html/_address

			include html/_footer
			include html/_cookie-banner
		include html/_popup
		//- script.
		//- 	window.onload = function() {
		//- 		document.getElementById('slider-placeholder').style.display = 'none'; // Скрыть изображение
		//- 		document.getElementById('slider').style.display = 'block'; // Показать слайдер
		//- 	};
		script(src="js/app.min.js")
		script(src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js")