.cart {
	display: flex;
	align-items: flex-start;
	gap: rem(45);
	padding: rem(30) 0;

	@media (max-width:$tablet){
		 flex-direction: column; 
		 align-items: stretch;
	}

	&__content {
		flex: 1 1 percent(800, 1280);

		@media (max-width:$tablet){
			flex: 1 1 100%; 
		}
	}

	&__title {
		margin-bottom: rem(60);
		font-size: rem(40);

		@media (max-width:$tablet){
			margin-bottom: rem(60);
			font-size: rem(24);
		}

		@media (max-width:$mobileSmall){
			 margin-bottom: rem(34); 
		}

		@media (min-width:$mobile){
			margin-top: rem(15); 
		}
	}

	&__products-wrapper {
		display: flex;
		flex-direction: column;
		margin-bottom: rem(22);
		width: 100%;
	}

	&__aside {
		flex: 1 1 percent(434, 1280);
		position: sticky;
		top: 30px;

		&-wrapper {
			padding: rem(30);
			background-color: $addColorGreen;
			border-radius: rem(25);
		}
	}

	&__total {
		display: flex;
		flex-direction: column;
		gap: rem(6);
		align-items: flex-end;
		width: 100%;

		&-text {
			font-size: rem(16);
			font-weight: 500;
			line-height: 1.45;
		}

		&-sum {
			font-size: rem(32);
			font-weight: 500;
			line-height: 1.45;
		}
	}
}

.product-cart {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: rem(65);
	padding: rem(12) rem(30) rem(12) 0; 
	width: 100%;
	border-bottom: rem(1) solid #E6ECEC;

	&:first-child {
		
		.product-cart__body {

			@media (min-width:$mobileSmall){
				&::before{
					content:'Товар';
					position: absolute;
					top: rem(-30);
					font-size: rem(12);
					font-weight: 500;
				}
			}
		}

		.product-cart__counter {

			@media (min-width:$mobileSmall){
				&::before{
					content:'Количество';
					position: absolute;
					top: rem(-30);
					font-size: rem(12);
					font-weight: 500;
				}
			}

		}

		.product-cart__price {

			@media (min-width:$mobileSmall){
				&::before{
					content:'Цена';
					position: absolute;
					top: rem(-43);
					font-size: rem(12);
					font-weight: 500;
				} 
			}
		}
	}

	@media (max-width:$tablet){
		gap: rem(30);
	}

	@media (max-width:$mobile){
		gap: rem(15); 
	}

	@media (max-width:$mobileSmall){
		 flex-wrap: wrap;
		 padding-right: 0;
	}

	&__body {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		gap: rem(10);

		@media (max-width:$mobileSmall){
			width: 100%; 
		}
	}

	&__image {
		flex: 0 0 auto;

		img {

		}
	}

	&__title {
		flex: 1 1 auto;
		
		h4 {
			margin-bottom: rem(5);
			font-size: rem(16);
			font-weight: 500;
		}

		span {
			color: #808887;
			font-size: rem(12);
			opacity: 0.5;
		}

		@media (max-width:$mobileSmall){
			margin-right: rem(30); 
		}
	}

	&__counter {
		flex: 0 0 auto;
		display: flex;
		align-items: center;
		min-height: 100%;

		@media (max-width:$mobileSmall){
			order: 1; 
		}
	}

	&__price {
		display: block;
		position: relative;
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		padding-left: rem(40);
		min-height: 100%;

		@media (max-width:$mobileSmall){
			 padding-left: rem(88); 
		}

		span {
			display: block;
			font-size: rem(16);
			font-weight: 500;
			line-height: 1.45;
		}
	}

	&__delete {
		flex: 0 0 auto;
		display: flex;
		align-items: center;
		min-height: 100%;

		@media (max-width:$mobileSmall){
			 position: absolute;
			 top: rem(30);
			 right: rem(10);
			 min-height: auto;
		}
	}
}

.input-counter {
	padding: 0 rem(20);

	&__wrapper {
		position: relative;
		display: flex;
		align-items: center;
		// max-width: rem(60);

		input {
			display: block;
			max-width: rem(60);
			color: #0009;
			font-size: rem(16);
			font-weight: 500;
			text-align: center;
			border: none;
		}
	}

	&__btn {
		font-size: rem(16);
		font-weight: 500;

		&._minus {
		}

		&._plus {
		}
	}
}


.form-aside {
	display: flex;
	flex-direction: column;
	gap: rem(30);
	// background-color: $addColorGreen;
	// border-radius: rem(25);

	&__title {
		margin-bottom: rem(0);
		font-size: rem(24);
		font-weight: 500;

		@media (max-width:$mobileSmall){
			font-size: rem(20); 
		}
	}

	&__fields {
		display: flex;
		flex-direction: column;
		// gap: rem(14);
		input {
			padding: rem(14) 0;
			color: $textColor;
			background-color: transparent;
			border-bottom: 1px solid #C6DBDA;
			font-size: rem(16);
			font-weight: 500;
			outline: none;

			&::placeholder {
				color: $textColor;
			}
		}
	}

	&__button {
		padding: rem(20) rem(30);
		border-radius: rem(20);
		font-size: rem(20);
	}

	&__checkbox {
		display: flex;
		align-items: center;
		gap: rem(10);

		input {
			margin-bottom: 2px;
			width: 14px;
			height: 14px;
		}

		label {
			font-size: rem(14);
			font-weight: 500;

			a {
				color: $highlightColor;
			}
		}
	}
}