ol,
ul {
	// list-style: none;
}

h1 {
	max-width: 995px;
	color: $textColorLight;
	font-size: 78px;
	line-height: 0.86;

	@media (max-width: em(1280)) {
		font-size: 64px;
	}

	@media (max-width:$tablet) {
		max-width: 100%;
		font-size: 58px;
	}
	@media (max-width:$mobile) {
		font-size: 48px;
		line-height: 0.9;
	}
	@media (max-width:$mobileSmall) {
		font-size: 32px;
	}
}

h2 {
	font-size: 58px;
    line-height: 1.1;
	text-align: left;

	@media (max-width: em(1280)) {
		font-size: 48px;
	}
	@media (max-width:$mobile) {
		font-size: 40px;
	}

	@media (max-width:$mobileSmall) {
		font-size: 24px;
	}
    
}

section {
    margin-bottom: 110px;

	@media (max-width: $tablet) {
		margin-bottom: 70px;
	}

	@media (max-width: $mobile) {
		margin-bottom: 50px;
	}
}

address {
	font-style: normal;
}

input {
	border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type='number'] {
	-moz-appearance: textfield;
}

svg {
	* {
		transition: all 0.3s;
	}
}

.tablet-hidden {
	@media (max-width: $tablet) {
		display: none;
	}
}

.desktop-hidden {
	@media (min-width: $tablet) {
		display: none!important;
	}
}

.policy-checkbox {
	display: flex;
	gap: 10px;
	align-items: flex-start;


	input {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;

		&:checked+label::before {
			background: $highlightColor;
			border-color: $highlightColor;
		}

		&:checked+label::after {
			content: '';
			position: absolute;
			top: 4px;
			left: 3px;
			width: 10px;
			height: 7px;
			border-left: 2px solid #fff;
			border-bottom: 2px solid #fff;
			transform: rotate(-45deg);
		}
	}

	label {
		position: relative;
		padding-left: 25px;
		max-width: 360px;
		color: $textColorLight;
		font-size: 12px;
		line-height: 1.3;
		cursor: pointer;
		transition: color 0.3s;

		@media (max-width: em(767)) {
			max-width: 200px;
			font-size: 10px;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 16px;
			height: 16px;
			background: transparent;
			border: 1px solid currentColor;
		}

		&:hover {
			color: $highlightColor;
		}
	}
}

.swiper-navigation {
	display: flex;
	justify-content: center;
	gap: 10px;
	width: 100%;

	@media (max-width: $mobileSmall) {
		position: absolute;
		bottom: -50px;
		margin: 0 auto;
	}
    
    .prev,
    .next {
		display: flex;
		transform-origin: center;
		cursor: pointer;

		@media (min-width: $mobileSmall) {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		svg {
			transition: all 0.3s;

			@media (min-width: $mobileSmall) {
				width: 42px;
				height: 42px;
			}

			circle {
				@media (min-width: $mobileSmall) {
					stroke: transparent;
				}
			}
		}

		&:hover {
			svg circle {
				fill: $highlightColor;
			}

			svg path {
				stroke: #fff;
			}
		}
    }
	
	.prev {
		@media (min-width: $mobileSmall) {
			left: -20px;
			translateY: -50%;
		}
	}

	.next {
		@media (min-width: $mobileSmall) {
			right: -20px;
		}
	}
}	