ol,
ul {
	// list-style: none;
}

h1 {
	max-width: 995px;
	color: $textColorLight;
	font-size: 78px;
	line-height: 0.86;

	@media (max-width: em(1280)) {
		font-size: 64px;
	}

	@media (max-width:$tablet) {
		max-width: 100%;
		font-size: 58px;
	}
	@media (max-width:$mobile) {
		font-size: 48px;
		line-height: 0.9;
	}
	@media (max-width:$mobileSmall) {
		font-size: 32px;
	}
}

h2 {
	font-size: 58px;
    line-height: 1.1;
	text-align: left;

	@media (max-width: em(1280)) {
		font-size: 48px;
	}
	@media (max-width:$mobile) {
		font-size: 40px;
	}

	@media (max-width:$mobileSmall) {
		font-size: 24px;
	}
    
}

section {
    margin-bottom: 110px;

	@media (max-width: $tablet) {
		margin-bottom: 70px;
	}

	@media (max-width: $mobile) {
		margin-bottom: 50px;
	}
}

address {
	font-style: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type='number'] {
	-moz-appearance: textfield;
}

svg {
	* {
		transition: all 0.3s;
	}
}

.mobile-small-hidden {
	@media (max-width: $mobileSmall) {
		display: none;
	}
}

.mobile-hidden {
	@media (max-width: $mobile) {
		display: none;
	}
}

.tablet-hidden {
	@media (max-width: $tablet) {
		display: none;
	}
}

.desktop-hidden {
	@media (min-width: $tablet) {
		display: none!important;
	}
}

.only-mobile {
	@media (min-width: $tablet) {
		display: none!important;
	}
}

.only-desktop {
	@media (max-width: $tablet) {
		display: none!important;
	}
}

.policy-checkbox {
	display: flex;
	gap: 10px;
	align-items: flex-start;


	input {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;

		&:checked+label::before {
			background: $bgColorBlueLight;
			border-color: $highlightColor;
		}

		&:checked+label::after {
			content: url('../img/icons/check-icon.svg');
			position: absolute;
			top: 0;
			left: 3px;
		}
	}

	label {
		position: relative;
		padding-left: 25px;
		max-width: 360px;
		color: $textColorLight;
		font-size: 12px;
		line-height: 1.3;
		cursor: pointer;
		transition: color 0.3s;

		@media (max-width: em(767)) {
			max-width: 200px;
			font-size: 10px;
		}

		&.popup__checkbox-label {
			color: $textColorAdd;
			max-width: 100%;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 16px;
			height: 16px;
			background: transparent;
			border: 1px solid currentColor;
		}

		a {
			text-decoration: underline;
			transition: color 0.3s;
			&:hover {
				color: $highlightColor;
			}
		}
	}
}

.header-with-button {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.form__fields {
	display: flex;
	flex-direction: column;
	gap: 25px;

	@media (max-width: $mobileSmall) {
		gap: 10px;
	}

	input, textarea {
		width: 100%;
		padding: 26px 20px;
		background-color: $bgColorBlueLight;
		border: 1px solid $highlightColor;
		border-radius: 10px;

		@media (max-width: $mobileSmall) {
			padding: 15px;
			font-size: 12px;
		}

		&::placeholder {
			color: #AFAFAF
		}
	}

	textarea {
		resize: none;
	}
}

.slider-compare {
	--value: 50%;
	position: relative;
	width: 100%;
	margin: 0 auto;
	color: #ffffff;
	aspect-ratio: 818/668;

	&--mini {
		aspect-ratio: 292/317;
	}

	&__img {
		position: absolute;
		top: 0;
		max-width: none;
		height: 100%;
		object-fit: cover;

		&--before {
			left: 0;
			width: var(--value);
			border-right: 5px solid #fff;
			object-position: left;
		}

		&--after {
			right: 0;
			width: calc(100% - var(--value));
			border-left: 5px solid #fff;
			object-position: right;
		}
	}

	&__range-js {
		position: absolute;
		margin: 0;
		background-color: transparent;
		outline: 0;
		cursor: col-resize;
		-webkit-appearance: none;
		appearance: none;
		inset: 0;

		&::-webkit-slider-thumb {
			width: 62px;
			height: 25px;
			background-color: transparent;
			background-image: url(../img/compare-icon.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			transform: translateX(calc(var(--value) - 50%));
			-webkit-appearance: none;
			appearance: none;
			box-shadow: none;
			outline: none;
		}

		&::-moz-range-thumb {
			width: 62px;
			height: 25px;
			background-color: transparent;
			background-image: url(../img/compare-icon.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			border-radius: 50%;
			transform: translateX(calc(var(--value) - 50%));
			appearance: none;
			box-shadow: none;
			outline: none;
		}

		&:focus-visible {
			&::-webkit-slider-thumb {
				outline: auto;
			}

			&::-moz-range-thumb {
				outline: auto;
			}
		}
	}
}

.faq {
	display: flex;
	flex-direction: column;
	gap: 5px;

	&__wrapper {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 27px;

		@media (max-width: $tablet) {
			gap: 20px;
		}

		@media (max-width: $mobileSmall) {
			gap: 15px;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		padding: 25px;
		background-color: #363B3F;
		border-radius: 10px;
		transition: background-color 0.3s;
		cursor: pointer;

		@media (max-width: $tablet) {
			padding: 15px;
		}

		&::-webkit-details-marker {
			display: none;
		}

		&:hover {
			.faq__icon {
				background-color: #fff;
			}

			svg path {
				fill: $highlightColor;
			}
		}

		span {
			color: #fff;
			font-size: 24px;
			line-height: 1.2;

			@media (max-width: $mobileSmall) {
				font-size: 16px;
			}
		}

		svg {
			width: 24px;
			height: 24px;
			transition: transform 0.3s;
			fill: #fff;

			[open] & {
				transform: rotate(180deg);
			}
		}
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		background-color: $highlightColor;
		border-radius: 5px;
		transition: all 0.3s;

		@media (max-width: $mobileSmall) {
			width: 27px;
			height: 27px;

			svg {
				height: 12px;
			}
		}
	}


	&__body {
		padding: 25px;
		background-color: #363B3F;
		border-radius: 10px;
		color: #fff;

		@media (max-width: $tablet) {
			padding: 15px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		gap: 10px;

		@media (max-width: $mobile) {
			border-bottom: 1px dashed #fff;
		}

		@media (max-width: $mobileSmall) {
			font-size: 14px;
		}
	}

	&__service {
		max-width: 50%;
	}

	&__space {
		flex: 1;
		border-bottom: 1px dashed #fff;

		@media (max-width: $mobile) {
			border-bottom: none;
		}
	}

	&__price {
		font-size: 16px;
		white-space: nowrap;
	}
}

.block-text-image {

	&__title {
		margin-bottom: 59px;

		@media (max-width: $tablet) {
			margin-bottom: 10px;
		}

		&.mb-small {
			margin-bottom: 10px;
			@media (max-width: $mobileSmall) {
				margin-bottom: 20px;
			}
		}
	}

	&__content {
		display: flex;
		align-items: stretch;
		gap: 20px;

		@media (max-width: $tablet) {
			flex-direction: column;
			gap: 20px;
		}

		@media (max-width: $mobileSmall) {
			flex-direction: column-reverse;
		}

		&._reverse {
			flex-direction: row-reverse;

			@media (max-width: $tablet) {
				flex-direction: column-reverse;
			}
		}
	}

	&__image {
		flex: 0 0 42.4%;
		border-radius: 20px;
		overflow: hidden;

		@media (max-width: $tablet) {
			max-height: 584px;
		}

		@media (max-width: $mobileSmall) {
			max-height: 328px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__text {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 30px;
		background-color: $bgColor;
		border-radius: 20px;

		@media (max-width: $mobileSmall) {
			padding: 15px;
		}

		._reverse & {
			@media (max-width: $mobileSmall) {
				padding: 50px 15px15px;
			}
		}

		&-highlight {
			background-color: $bgColorBlueLight;
		}
	}

	&__paragraph {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: 10px;
		margin-top: auto;

		&._content-start {
			justify-content: flex-start;
		}

		@media (max-width: $tablet) {
			max-width: 560px;
		}
	}

	&__button {
		margin-top: 50px;

		@media (max-width: $tablet) {
			margin-top: 30px;
		}

		@media (max-width: $mobileSmall) {
			margin-top: 20px;
		}
	}
}

.accordion-item {
	&-content {
		overflow: hidden;
		transition: height 0.3s ease-out;
	}
}

.sticky-mobile-button {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	border-radius: 0;

	@media (min-width:$mobile) {
		display: none;	

	}
}