.hero {
	position: relative;
	height: rem(850);
	background: url('../img/hero/bg.png') center/cover no-repeat;

    @media (max-width:$tablet) {
        height: rem(585);
        background: url('../img/hero/bg-tablet.png') center/cover no-repeat;
    }

    @media (max-width:$mobileSmall) {
        padding: rem(30) 0;
        height: rem(409);
        background: url('../img/hero/bg-mobile.png') center/cover no-repeat;
    }
	
	&__container {
		position: relative;
        display: flex;
        align-items: center;
        min-height: 100%;
		z-index: 2;
	}

	&__content {
		max-width: 1000px;
	}

	&__title {
        margin-bottom: 14px;
		color: #fff;
	}

	&__text {
        margin-bottom: 45px;
        max-width: rem(405);
		color: #fff;

        @media (max-width:$mobileSmall) {
            margin-bottom: 20px;
            font-size: rem(14);
        }
	}

    &__buttons {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: rem(10);

        @media (max-width: $mobileSmall) {
            display: none;
        }
    }

	&__button {
        @media (max-width:$mobile) {
            padding-left: rem(2);
            padding-right: rem(2);
            width: rem(162);
        }

        &-callback {
            padding-left: rem(2);
            padding-right: rem(2);
            width: rem(162);
            @media (min-width:$mobile) {
                display: none;
            }
        }
    }

	&__examples {
		position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 15px 10px 10px;
        width: rem(273);
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: linear-gradient(101deg, rgba(255, 255, 255, 0.00) -10.67%, rgba(255, 255, 255, 0.10) 9.42%);
        backdrop-filter: blur(35px);

        @media (max-width:$mobile) {
            display: none;
        }

        &-main {
            right: 20px;
            bottom: 184px;

            @media (max-width: em(1280)) {
                right: 60px;
                bottom: 100px;
            }
        
            @media (max-width:$tablet) {
                bottom: 90px;
            }
        }

        &-service {
            right: 20px;
            bottom: 40px;
        }
	}

	&__examples-image {
		width: auto;
        max-width: 132px;
        max-height: 42px;
		margin-bottom: 18px;

        // @media (max-width:$mobile) {
        //     max-width: 100px;
        //     max-height: 32px;
        // }
	}

	&__examples-title {
        margin-bottom: 16px;
		color: #fff;
        text-align: left;
		font-size: rem(36);
        line-height: math.div(32, 36);

        @media (max-width:em(1280)) {
            font-size: rem(32);
        }
		
	}

	&__examples-button {}
}
