section.how {
	@include adaptiveValue("padding-top", 246, 80);
	&-2 {
		margin-bottom: rem(24);
		padding-top: 0;
	}
	.section__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.title {
		position: relative;
		img {
			position: absolute;
			top: 25%;
			left: 5%;
			@include adaptiveValue("width", 380, 150, 1920, 320);
			transform: translate(-50%, -50%);
			z-index: -1;
		}
		&.second {
			margin: rem(113) 0;
			@media (max-width:$mobileSmall){
				margin-bottom: rem(25);
			}
			h2 {
				margin-bottom: 0;
			}
			img {
				top: 50%;
				left: 13%;
				@media (max-width:$mobileSmall){
					left: 20%;
				}
			}
		}
		// &::after{
		// 	content: "";
		// 	position: absolute;
		// 	top: 20%;
		// 	left: 0%;
		// 	background-image: url(/img/sphere-how.png);
		// 	background-size: contain;
		// 	background-position: center;
		// 	background-repeat: no-repeat;
		// 	@include adaptiveValue("width", 250, 200, 1920, 320);
		// 	@include adaptiveValue("height", 250, 200, 1920, 320);
		// 	transform: translate(-50%, -50%);
		// 	z-index: 0;
		// }
	}
	h2 {
		display: inline-block;
		margin: 0 auto;
		@include adaptiveValue("margin-bottom", 79, 28);
		text-align: center;

	}
	.slides {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		div {
			position: relative;
			&::before{
				content: attr(data-count);
				position: absolute;
				@include adaptiveValue("top", 72, 23, 1512, 480, 1);
				@include adaptiveValue("left", 80, 27, 1512, 480, 1);
				@include adaptiveValue("font-size", 70, 21, 1512, 480, 1);
				font-weight: 600;
			}
		}
		img {
			
			max-width: 100%;
			&.mob {
				width: 100%;
				@media (min-width:$mobileSmall){
					 display: none; 
				}
			}
			&:not(.mob) {
				@media (max-width:$mobileSmall){
					 display: none; 
				}
			}
		}
	}
}