.personal {

    @media (max-width: $mobile) {
        padding-bottom: 50px;
    }

    &__container {
        @media (max-width: $mobile) {
            padding: 0;
        }
    }

    &__header {
        margin-bottom: 20px;
    }

    &__inner {
        position: relative;
    }

    &__slider {
        @media (max-width: $mobile) {
            padding-left: 20px;
        }
    }

    &__slide {
        height: auto !important;
    }
}
.personal-slide {
    background-color: $bgColor;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__image {
        width: 100%;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 20px;
        background-color: $bgColorBlue;
    }

    &__name {
        font-size: 22px;

        @media (max-width: $mobileSmall) {
            font-size: 14px;
        }

        a {
            transition: color 0.3s ease;
        }

        &:hover {
            a {
                color: $highlightColor;
            }
        }
    }

    &__speciality {
        flex-grow: 1;
        margin-bottom: 32px;
        color: $textColorAdd;
        font-size: 16px;

        @media (max-width: $mobileSmall) {
            font-size: 10px;
        }
    }

    &__button {
        @media (max-width: $mobileSmall) {
            max-height: 32px;
            font-size: 10px;
        }
    }
}