section.benefits#benefits
    .benefits__container
        .block-text-image
            .block-text-image__content
                .block-text-image__image
                    img(src="@img/service/benefits-1.png" alt="Преимущества стоматологического туризма" loading="lazy")
                .block-text-image__text
                    h2.block-text-image__title Преимущества стоматологического туризма в петербургской клинике «Два Дантиста»
                    .block-text-image__paragraph
                        p Хотя основная цель этого путешествия в Северную столицу — лечение зубов, вы всё равно окажетесь в новом красивом городе, а это, как ни крути, прекрасная возможность отправиться в поездку. Можно сказать, что лечение зубов совмещается с путешествием.
                        p Ещё один плюс — скорость. В обычной жизни мы часто откладываем визит к стоматологу на несколько месяцев, а здесь придётся заняться зубами в сжатые сроки. Зато это отличная возможность вылечить всё необходимое всего за 2–3 дня. И наконец, экономия. Именно она чаще всего становится главной причиной выбора стоматологического туризма. Люди предпочитают лечить зубы в другом городе или даже стране, потому что это обходится дешевле, чем в своём родном городе.
                        p Клиника "Два Дантиста" предлагает широкий спектр услуг, адекватные цены, и, что самое главное, комфорт и удобное расположение самой клиники - на Московском проспекте, рядом с Парком победы и знаменитой улицей Бассейной.
