section.city
    .city__container
        .city__content
            .city__sticky
                h2.city__title Как выбрать город для стоматологического туризма?
                p.city__text Иногда стоматологический туризм — это хороший выбор. Например, если вы живете в небольшом городе, где нет квалифицированных специалистов, которые могли бы вам помочь. Тогда действительно стоит отправиться в другой город, где есть компетентный специалист, который сможет решить вашу проблему. Чтобы выбрать город для стоматологического туризма, в первую очередь рекомендуется изучить наличие медицинского вуза в нем. Как правило, это обстоятельство говорит о качественных клиниках в этом населенном пункте. Как выбрать клинику и на что обратить внимание?

            .city__grid
                -
                    const cityItems = [
                        {
                            image: 'city-1.png',
                            title: 'Документация',
                            description: 'Когда вы придете в клинику, также важно ознакомиться с документацией. Обратите внимание на то, чтобы обязательно было разрешение на проведение таких услуг, как: лечение зубов, исправление прикуса, протезирование и имплантация.'
                        },
                        {
                            image: 'city-2.png',
                            title: 'Повышение<br>квалификации',
                            description: 'У хорошего специалиста должно быть не только медицинское образование, но и регулярное курсы повышения квалификации. Всё это подтверждает его профессионализм. Если врач не учится новому и не совершенствует свои знания, стоит поискать другого специалиста.'
                        },
                        {
                            image: 'city-3.png',
                            title: 'Оборудование',
                            description: 'Важно, чтобы в клинике использовали современное оборудование, качественные материалы и комфортную мебель для врача и пациента.'
                        },
                        {
                            image: 'city-4.png',
                            title: 'Выбор<br>специалиста',
                            description: 'Чаще всего мы идем не просто в клинику, а к конкретному врачу, поэтому к его выбору стоит подойти внимательно: он должен обладать высокой квалификацией, иметь хороший опыт работы и соответствующее образование.'
                        },
                        {
                            image: 'city-5.png',
                            title: 'Цена',
                            description: 'Не стоит выбирать клинику только по низкой стоимости. Важно понимать, что хорошее лечение зубов никогда не будет стоить дешево.'
                        },
                        {
                            image: 'city-6.png',
                            title: 'Ассистент',
                            description: 'С ассистентом лечение проходит быстрее и качественнее, если врач работает без ассистента — это может быть плохим знаком о том, что клиника хочет сэкономить.'
                        },
                        {
                            image: 'city-7.png',
                            title: 'Отзывы',
                            description: 'Обязательный этап выбора клиники - изучить мнение других пациентов.'
                        }
                    ]

                each item in cityItems
                    .city__item
                        .city__image
                            img(src=`@img/service/${item.image}` alt=item.title)
                        h3.city__subtitle!= item.title
                        p.city__description= item.description
