section.how-match#how-match
    .how-match__container
        .block-text-image
            .block-text-image__content._reverse
                .block-text-image__image
                    img(src="@img/service/how-match-1.png" alt="Цены на стоматологию в России")
                .block-text-image__text.block-text-image__text-highlight
                    h2.block-text-image__title Цены на<br>стоматологию в России
                    .block-text-image__paragraph
                        p Где можно относительно бюджетно вылечить зубы — в родном, в любом другом городе или за границей? Во-первых, нужно разобраться, из чего в итоге складывается стоимость лечения. Помимо оплаты работы специалиста, есть ещё, так называемые, скрытые платежи — обслуживание и аренда помещения клиники. В небольших городах такие платежи обычно ниже. Цены на расходные материалы в пределах одной страны, как правило, одинаковые.
                        p Также нужно понимать,что ценообразование на стоматологические услуги зависит и от платежеспособности местного населения. Клиники не могут устанавливать слишком высокие цены, при том что квалификация специалистов в столице и регионе может быть идентичной.
                        p Стоматологическая клиника “Два Дантиста” предлагает вам пройти комплексное лечение, совместив это с туром по каналам и разведением мостов или любыми обзорными экскурсиями на ваш выбор.
