section.pricing#pricing 
    .pricing__container
        h2.pricing__title 
            | Стоимость на 
            br
            | наши услуги

        .pricing__content.faq__wrapper
            details(open).faq
                summary.faq__header
                    span Консультация
                    .faq__icon
                        include ../icons/_arrow-down.pug
                .faq__body
                    ul.faq__list
                        li.faq__row
                            span.faq__service Консультация ортодонта
                            span.faq__space
                            span.faq__price 1000 руб.
                        li.faq__row
                            span.faq__service Консультация терапевта
                            span.faq__space
                            span.faq__price от 1000 руб.
                        li.faq__row
                            span.faq__service Консультация ортопеда
                            span.faq__space
                            span.faq__price от 1000 руб.
                        li.faq__row
                            span.faq__service Консультация хирурга
                            span.faq__space
                            span.faq__price 1000 руб.
                        li.faq__row
                            span.faq__service Консультация ортодонта с установленной брекет-системой
                            span.faq__space
                            span.faq__price 6000 руб.
                        li.faq__row
                            span.faq__service Консультация пародонтолога
                            span.faq__space
                            span.faq__price 1000 руб.
                        li.faq__row
                            span.faq__service Консультация гигиениста
                            span.faq__space
                            span.faq__price 1000 руб.
                        li.faq__row
                            span.faq__service Консультация гнатолога
                            span.faq__space
                            span.faq__price 1000 руб.

            details.faq
                summary.faq__header
                    span Можно ли кусать с винирами?
                    .faq__icon
                        include ../icons/_arrow-down.pug
                .faq__body
                    p.faq__text Текст ответа...

            details.faq
                summary.faq__header
                    span Можно ли поставить виниры на 4 зуба?
                    .faq__icon
                        include ../icons/_arrow-down.pug
                .faq__body
                    p.faq__text Текст ответа...

            details.faq
                summary.faq__header
                    span Ощущаются ли виниры во рту?
                    .faq__icon
                        include ../icons/_arrow-down.pug
                .faq__body
                    p.faq__text Текст ответа...

            details.faq
                summary.faq__header
                    span Могут ли виниры скрыть кривые зубы?
                    .faq__icon
                        include ../icons/_arrow-down.pug
                .faq__body
                    p.faq__text Текст ответа...
