section.campaign-questions#questions 
    .campaign-questions__container
        .campaign-questions__body
            h2.campaign-questions__title 
                | Часто задаваемые вопросы

            .questions__content.faq__wrapper
                details(open).faq
                    summary.faq__header
                        span Сколько можно ходить с керамическими Винирами?
                        .faq__icon
                            include ../icons/_arrow-down.pug
                        
                    .faq__body
                        p.faq__text Текст ответа...

                details.faq
                    summary.faq__header
                        span Можно ли кусать с винирами?
                        .faq__icon
                            include ../icons/_arrow-down.pug
                    .faq__body
                        p.faq__text Текст ответа...

                details.faq
                    summary.faq__header
                        span Можно ли поставить виниры на 4 зуба?
                        .faq__icon
                            include ../icons/_arrow-down.pug
                    .faq__body
                        p.faq__text Текст ответа...

                details.faq
                    summary.faq__header
                        span Ощущаются ли виниры во рту?
                        .faq__icon
                            include ../icons/_arrow-down.pug
                    .faq__body
                        p.faq__text Текст ответа...

                details.faq
                    summary.faq__header
                        span Могут ли виниры скрыть кривые зубы?
                        .faq__icon
                            include ../icons/_arrow-down.pug
                    .faq__body
                        p.faq__text Текст ответа...
