section.valuation#valuation
    .valuation__container
        h2.valuation__title От чего зависит стоимость<br>стоматологических услуг?
        .valuation__content
            -
                const valuationItems = [
                    {
                        title: 'Материалы<br>и оборудование',
                        text: 'Имплантаты, коронки и виниры из высококачественных материалов, таких как цирконий или фарфор, будут стоить дороже, чем из более дешевых материалов.',
                        level: 4
                    },
                    {
                        title: 'Сложность<br>процедур',
                        text: 'Простые операции - пломбирование или профессиональная чистка зубов - обычно стоят дешевле, чем более сложные манипуляции, такие как имплантация или ортодонтическое лечение.',
                        level: 3
                    },
                    {
                        title: 'Расположение<br>клиники',
                        text: 'В мегаполисах из-за высокой стоимости аренды и жизни в целом цены на стоматологические услуги могут быть выше, чем в маленьких городах или сельской местности.',
                        level: 4
                    },
                    {
                        title: 'Квалификация специалистов<br>и используемые технологии',
                        text: 'Высококвалифицированные специалисты с богатым опытом и постоянным обучением могут взимать более высокую плату за свои услуги.',
                        level: 4
                    }
                ]
            ul.valuation__list
                each item in valuationItems
                    li.valuation__item
                        .valuation__content
                            .valuation__header
                                h3.valuation__subtitle!= item.title
                                p.valuation__text= item.text
                            .valuation__level
                                - for (let i = 0; i < 4; i++)
                                    .valuation__dot(class= i === item.level - 1 ? 'active' : '')
