section.what
    .what__container
        h2.what__title Что такое виниры?

        .what__body
            .what__item
                .what__item-content
                    .what__item-icon
                        img(src="@img/service/what-is-it-icon.png" alt="Иконка" loading="lazy")
                    p.what__item-text Виниры - это керамические накладки, которые фиксируются на обточенный зуб
                .what__item-image
                    img(src="@img/service/what-is-it-1.png" alt="Процесс установки виниров" loading="lazy")

            .what__item
                .what__item-image
                    img(src="@img/service/what-is-it-2.png" alt="Процесс установки виниров" loading="lazy")
                .what__item-content
                    .what__item-icon
                        img(src="@img/service/what-is-it-icon.png" alt="Иконка" loading="lazy")
                    p.what__item-text Для стандартного винира необходимо препарировать около 0,2 – 0,6 мм ткани зуба, при этом эмаль не затрагивается

            .what__item
                .what__item-content
                    .what__item-icon
                        img(src="@img/service/what-is-it-icon.png" alt="Иконка" loading="lazy")
                    p.what__item-text Для стандартного винира необходимо препарировать около 0,2 – 0,6 мм ткани зуба, при этом эмаль не затрагивается
                .what__item-image
                    img(src="@img/service/what-is-it-3.png" alt="Процесс установки виниров" loading="lazy")
