.service-price {

    &__title {
        margin-bottom: 20px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 27px;
        margin-bottom: 100px;

        @media (max-width: $tablet) {
            grid-template-columns: repeat(3, 1fr);
            gap: 13px;
            margin-bottom: 70px;
        }

        @media (max-width: em(767)) {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 50px;
        }

        @media (max-width: $mobileSmall) {
            grid-template-columns: 1fr;
        }
    }

    &__card {
        padding: 30px;
        background: $bgColorBlueLight;
        border-radius: 10px;
        overflow: hidden;

        @media (max-width: $tablet) {
            padding: 15px;
        }   


        &-icon {
            width: 52px;
            height: 52px;
            margin-bottom: 38px;

            @media (max-width: $tablet) {
                margin-bottom: 20px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-title {
            margin-bottom: 5px;
            font-size: 32px;

            @media (max-width: $tablet) {
                font-size: 22px;
            }

            @media (max-width: $mobileSmall) {
                font-size: 20px;
            }
            
        }

        &-text {
            margin-bottom: 15px;
            color: $textColorAdd;
            font-size: 16px;
            line-height: 1.5;

            @media (max-width: $tablet) {
                margin-bottom: 20px;
                font-size: 14px;
            }
        }

        &-price {
            margin-bottom: 25px;
            font-size: 32px;

            @media (max-width: $tablet) {
                margin-bottom: 20px;
                font-size: 22px;
            }
        }
    }
}
